body {margin:0; padding:0; font:13px/16px "Lucida Grande",Arial,Sans-serif; background-color:#fff; }
.shadow {} /* shadow is just used for jquery to select and fix shadows in IE */
body.inside-fb-canvas #header {padding:0;}
#content {width:981px; margin:0 auto; padding:0 0 22px 0;}
body.inside-fb-canvas #content {width:760px;}
#footer {clear:both; margin-top:20px; padding:10px; text-align:center; border-top:1px solid #ccc; color:#ccc;}
#footer a {color:#aaa;}
#admin-nav {text-align:center;}




